<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SystemDatabase" connectionString="server=localhost; database=InvoiceSystem; user=root; password=1234;" providerName="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
    </connectionStrings>
</configuration>
